#fondo {
    background: rgb(131,58,180);
    background: linear-gradient(6deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%);
}
main{
    width: 940px;
    margin: 70px auto;
    display: flex
}

#mensaje1{
    padding: 20px 20px;
    margin: 20px 10px;
    border: none;
    background-color: #fff9f929;
    border-radius: 10px;
    color: black;
}

#mensaje2{
    padding: 10px 20px;
    margin: 20px 10px;
    border: none;
    background-color: #fff9f929;
    border-radius: 10px;
    color: black;
}

.encriptar{
    margin: 10px 60px;
    padding: 10px 45px;
    border: none;
    border-radius: 10px;
    background-color: rgba(131,58,180,1);
    transition: 1s;
}

.desencriptar{
    padding: 10px 45px;
    border: none;
    border-radius: 10px;
    background-color:rgb(180, 58, 154);
    transition: 1s;
}

.desencriptar:hover{
    background:rgb(253, 81, 29);
    transform: scale(1.2);
}
.encriptar:hover{
    background: rgba(253,29,29,1);
    transform: scale(1.2);
}

.copyButton{
        margin: 5px 110px;
        padding: 10px 60px;
        border: none;
        border-radius: 10px;
        background-color: rgba(131,58,180,1);
        transition: 1s;
}

.copyButton:hover{
    background: rgba(253,29,29,1);
    transform: scale(1.2);
}

.encabezado{
    text-align: center;
    font-size: 1em;
    color: aliceblue;
    padding: 50px;
}

.icon{
    padding: 10px;
    background: rgb(41, 41, 41);
    text-decoration: none;
    border-radius: 10em;
    color: white;
    font-size: 2em;
    transition: 1s;
}

.iconos{
    padding: 15px;
}

.icon:hover{
    font-size: 40px;
    transform: scale(1.2);
    background: white;
    color: rgb(41, 41, 41);
}

.logo{
    width: 4em;
    padding: 1em 2em;
}

.textareaDes{
    background-image: url(lupa.png);
    background-size: 23em;
    background-repeat: no-repeat;
    background-position: center;
}

